/* NavBar Styles */
.navbarContainer {
    width: 92%;
    height: 80px;
    position: fixed;
    left: 0;
    /* padding-inline-start: 5%; */
    /* padding-inline-end: 5%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4%;
    background-color: beige;
}

.navbarText {
    font-weight: 300;
    padding-left: 10px;
    cursor: pointer;
}

.navbarMenu {
    display: flex;
    list-style: none;
    /* padding-right: 15vw; */
}

.navbarMenuItem {
    padding-left: 2vw;
    cursor: pointer;
}

.underline {
    width: 0%;
    position: relative;
    background-color: black;
    height: 2px;
    transition: 300ms;
}

/* Mobile NavBar */
.mobileToggle {
    z-index: 10;
    cursor: pointer;
}

.mobileNavBar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin-top: -2px;
    background-color: beige;
    margin-inline: 0px;
    padding-inline: 0px;

}

.mobileNavItem {
    list-style: none;
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    cursor: pointer;
    align-self: center;
}

/* Key Links Side Bar */
.keyLinksBar {
    position: fixed;
    display: flex;
    top: 35%;
    left: 0%;
}

.socialListIcon {
    list-style: none;
    margin-bottom: 1px;
    cursor: pointer;
}

.socialIcon {
    height: 60px;
    width: 200px;
    background-color: black;
    margin-left: -185px;
    transition-duration: 300ms;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding-right: 15px;
}

.socialLink{
    text-decoration: none;
}

.socialIcon:hover{
    margin-left: -55px;
    transition-duration: 300ms;
    /* animation-duration: 300; */
}



.iconText {
    color: beige;
    padding-left: 25px;
    font-size: 1.25rem;
}

/* End NavBar Styles */

/* Text sizes */
@media screen and (max-width: 768px){
    .titleText {
        font-size: 2rem;
        font-weight: 300;
        margin-block: 0px;
        padding-block: 0px;
        margin-inline-end: 5px;
    }
}

@media screen and (min-width: 768px) {
    .titleText {
        font-size: 4rem;
        margin-block: 0px;
        font-weight: 300;
        padding-block: 0px;
        margin-inline-end: 5px;
    }
}

/* Outer Container for each page */
.pageContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

/* Inner Container for each pages content */
.contentContainer {
    max-width: 1200px;
    padding: 5%;
    margin-left: 5% ;
    margin-right: 5%;
}

.subList {
    list-style-type: none;
    margin-left: -20px;
    margin-block: 0px;
}

.subListItem {
    padding-block: 3px;
}

.subSectTitle {
    display: inline;
    /* text-decoration: underline; */
    font-size: 1.25rem;
    font-weight: 300;
}

/* Headers for each section */
/* .titleText {
    font-size: 4rem;
    margin-block: 0px;
    font-weight: 300;
    padding-block: 0px;
} */

.subTitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 3vh;
    margin-bottom: 0px;
}

/* Expandable element container */
.expandable {
    transition: all ease-in-out 1.5s;
    border: 1px solid black;
    padding-inline: 1%;
    padding-top: 0%;
    margin: 1%;
    margin-block-start: 0;
}

.projectExpandable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skillsExpandable {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.expandable:hover {
    border: 2px solid black;
    /* display: flex;
    flex-direction: column; */
}


.expandableBox {
    animation: fade-in 2.75s ease-in;
    padding-left: 1%;
}

@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}


.alignDemo {
    margin-top: -50px;
    margin-left: 2vh;
}




/* Contact Styles */
.contactForm {
    display: flex;
    flex-direction: column;
}

.submitMessageButton{
    margin-top: 3vh;
    padding: 4px 4px;
    align-self: center;
    width: 75px;
    height: 30px;
    font-size: medium;
    color: black;
    background-color: beige;
    border-radius: 10px;
    /* border: 1px solid black 10px; */
    transition: ease-in-out 0.5s;
}

.submitMessageButton:hover{
    /* width: 100px;
    height: 37.5px; */
    scale: 1.25;
    background-color: black;
    color: beige;
    cursor: pointer;
    
}

.projectSelectionRowContainer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.projectTypeButton {
    font-size: medium;
    background-color: beige;
    margin-inline-end: 5px;
    border-radius: 10px;
    padding: 4px;
    transition: ease-in-out 0.5s;
}

.projectTypeButton:hover {
    scale: 1.1;
    color: beige;
    background-color: black;
}

.projectTypeButton_selected {
    font-size: medium;
    background-color: black;
    color: beige;
    margin-inline-end: 5px;
    border-radius: 10px;
    padding: 4px;
    transition: ease-in-out 0.5s;
}

.projectTypeButton_selected:hover {
    scale: 1.1;
    color: beige;
    background-color: black;
}

.projectExampleContainer {
    width: 80vw;
    height: 50vh;

}